{% extends 'base.html.twig' %}


{% block content %}
<a href="/news">< Back</a>

<div class="article">
    {% if isAdmin %}
        <h2 class="title bot-margin"><a href="/article/{{ article.id }}">{{ article.title }}</a></h2>
        <p class="top-margin"><a href="/admin/edit/article/{{ article.id }}"><i class="far fa-edit"></i></a> | <a href="/admin/delete/article/{{ article.id }}"><i class="fas fa-times"></i></a></p>
    {% else %}
        <h2 class="title"><a href="/article/{{ article.id }}">{{ article.title }}</a></h2>
    {% endif %}
    <p class="info">By <a href="/player/{{ article.author }}">{{ article.author }}</a> on {{ article.datetime|date("d.m.Y H:i:s") }}</p>
    <div class="ql-editor ns text">{{ article.text|raw }}</div>
</div>

{% endblock %}

{% block javascripts %}
    <script>
        hljs.configure({   // optionally configure hljs
            languages: ['javascript', 'php', 'html', 'twig']
        });


        var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['blockquote', 'code-block', 'image'],

            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
            [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
            [{ 'direction': 'rtl' }],                         // text direction

            [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown


            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'font': [] }],
            [{ 'align': [] }],

            ['clean']                                         // remove formatting button
        ];

        var options = {
            debug: 'info',
            modules: {
                toolbar: toolbarOptions,
                syntax: true
            },
            placeholder: 'Compose an epic...',
            readOnly: false,
            theme: 'snow'
        };

        var reader = {
            modules: {
                syntax: true,
                toolbar: false
            },
            readOnly: true,
            theme: 'bubble'
        };


        if (document.getElementById("editor"))
            var editor = new Quill('#editor',options);

        if (document.getElementsByClassName("ql-editor ns text")){
            for (let index = 0; index < document.getElementsByClassName("ql-editor ns").length; index++) {
                new Quill(document.getElementsByClassName("ql-editor ns")[index],reader);

            }
        }
    </script>
{% endblock %}
